<form action="/recipes" method="post">
  What is the name of the recipe you want to add?<br>
  <input type="text" name="name"><br>
  What is the description of the recipe you want to add?<br>
  <input type="text" name="description">
  <input type="submit" value="Submit">
</form>
